 {% extends 'base.html' %}
{% load static %}
{% block title %}QPlot{% endblock %}

{% block content %}
<div class="container mx-auto p-6">

        <!-- Header -->
        <h1 class="text-3xl font-semibold text-center mb-8">Your Project Contexts</h1>

        <!-- Check if there are any project contexts -->
        {% if project_contexts %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                {% for context in project_contexts %}
                    <div class="image-item bg-white shadow-lg rounded-lg overflow-hidden">
                        <!-- Display image if plot_url is available -->
                        {% if context.context_data.plot_url %}
                            <img src="{{ context.context_data.plot_url }}" class="w-full h-64 object-cover">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-gray-500 mt-4">No project contexts found for your account.</p>
        {% endif %}

 </div>
 {% endblock %}
