 {% extends 'base.html' %}
{% load static %}
{% block title %}QPlot{% endblock %}

{% block content %}
<div class="container mx-auto p-6">
        <!-- Check if there are any project contexts -->
        {% if project_contexts %}
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for context in project_contexts %}
            <div class="obj-container image-item rounded-lg overflow-hidden flex flex-col items-center">
                <!-- Display image if plot_url is available -->
                {% if context.context_data.plot_url %}

                    <img src="{{ context.context_data.plot_url }}" class="m-4 w-5/6 object-cover">

                    <div class="rounded-lg overflow-hidden flex flex-row items-center m-4">

                        <a href="{% url 'plotter' %}?id={{ context.id }}" class="view m-4 inline-block px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
                            View project
                        </a>

                        <form method="POST" action="{% url 'delete_project' project_id=context.id %}" class="m-0">
                            {% csrf_token %}
                            <button type="submit" class="bg-red-500 text-white rounded hover:bg-red-700 inline-block px-4 py-2">
                                Delete
                            </button>
                        </form>
                    </div>

                {% endif %}
            </div>
        {% endfor %}
</div>
        {% else %}
            <p class="text-center text-gray-500 mt-4">No project contexts found for your account.</p>
        {% endif %}

 </div>

 <style>
     .view
     {
        background-color:#009936;
     }

     .obj-container {
    background-color: rgb(11, 11, 11);  /* Set the background color */
    border: 1px solid whitesmoke;  /* Add a 2px solid gray border */
}

 </style>
 {% endblock %}