
{% extends 'base.html' %}
{% load static %}
{% block title %}Plotter{% endblock %}
{% block content %}
<link rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=info" />


<div class="plotterpage">
    <div class="flex justify-between m-6 ml-20 mr-20 h-4/5">
        <!-- Forms Section on the Left -->
        <div class="w-1/2 form_section rounded-lg mr-5 max-h-full">
            <ul class="flex justify-center mt-10">
                <li>
                  <button
                    id="tab-points"
                    class="tab-button mr-3 rounded-lg px-4 py-3 bg-green-500 text-white hover:bg-gray-700 focus:outline-none"
                    onclick="switchTab('points')"
                  >
                      Points
                  </button>
                </li>
                <li>
                  <button
                    id="tab-lines"
                    class="tab-button mr-3 rounded-lg px-4 py-3 bg-gray-700 text-white hover:bg-gray-700 focus:outline-none"
                    onclick="switchTab('lines')"
                  >
                    Lines
                  </button>
                </li>
                <li>
                  <button
                    id="tab-func"
                    class="tab-button mr-3 rounded-lg px-4 py-3 bg-gray-700 text-white hover:bg-gray-700 focus:outline-none"
                    onclick="switchTab('func')"
                  >
                    Functions
                  </button>
                </li>
                <div class="lg:justify-end flex ">
                    <li>
                  <button
                    class="tab-button rounded-lg  mr-3 px-4 py-3 bg-gray-700 text-white hover:bg-gray-700 focus:outline-none"
                  >
                    Save project
                  </button>
                </li>
                <li>
                  <button id="download-plot-btn"
                    class="tab-button rounded-lg px-4 py-3 bg-gray-700 text-white hover:bg-gray-700 focus:outline-none"
                  >
                    Download plot
                  </button>
                </li>
                </div>
              </ul>

            <div id="points" class="tab-content"> 
                {% include 'plotter_sections/points.html' %}
            </div>

            <div id="lines" class="tab-content hidden">
                {% include 'plotter_sections/lines.html' %}
            </div>

            <div id="func" class="tab-content hidden">
                {% include 'plotter_sections/func.html' %}
            </div>
        </div>

        <div class="w-1/2 flex-col justify-center rounded-lg ml-5 form_section max-h-full">

            <!-- Plotting Section -->
                <div class="plot-container rounded-lg shadow-md w-full">
                    {% if plot_url %}
                        <img id="current-plot" class="max-w-full m-auto rounded-lg"
                        src="{{ plot_url }}"
                        >
                    {% else %}
                        <p class="text-white">No plot available. Add elements and click "Plot" to generate one.</p>
                    {% endif %}
                </div>


            <!--Info section-->
            <div id="line-info" class="m-4 hidden">
              {% if line_info %}
                <ul class="text-white">
                  {% for key, value in line_info.items %}
                    <li><strong>{{ key|capfirst }}:</strong> {{ value }}</li>
                  {% endfor %}
                </ul>
              {% else %}
                <h1 class="text-white">Click on the info icon to show information about selected line.</h2>
               {% endif %}
            </div>

        </div> 
    </div>
</div>
<style>

    .form_section
    {
        background-color: #0F0F0F;
    }
</style>

<!--Download script-->
<script>
  document.getElementById('download-plot-btn').addEventListener('click', function() {
    const plotImage = document.getElementById('current-plot');
    if (plotImage && plotImage.src) {
      const link = document.createElement('a');
      link.href = plotImage.src;
      link.download = 'plot.png';
      link.click();
    } else {
      alert('Plot image not available');
    }
  });
</script>

<!--Tab switching and page loading script-->
<script>
    function switchTab(tabId) {
      // Remove active state from all buttons and hide all tab content
      document.querySelectorAll('.tab-button').forEach(button => {
        button.classList.remove('bg-green-500');
        button.classList.add('bg-gray-700');
      });
  
      document.querySelectorAll('.tab-content').forEach(tab => {
        tab.classList.add('hidden');
      });

      //Show info section only if the line tab is selected
      const lineInfoSection = document.getElementById('line-info');
      if (tabId === 'lines') {
        lineInfoSection.classList.remove('hidden');  // Show line-info when 'lines' tab is selected
      } else {
        lineInfoSection.classList.add('hidden');  // Hide line-info for other tabs
      }

      // Add active state to the clicked button and show its content
      document.getElementById(`tab-${tabId}`).classList.remove('bg-black');
      document.getElementById(`tab-${tabId}`).classList.add('bg-green-500', 'text-white');
      document.getElementById(tabId).classList.remove('hidden');

      // Save the active tab ID in session storage
        sessionStorage.setItem('activeTab', tabId);
    }


    // Load the active tab from session storage on page load
    document.addEventListener('DOMContentLoaded', () => {
        const activeTab = sessionStorage.getItem('activeTab') || 'points'; // Default to 'points'
        switchTab(activeTab);
    });
  </script>
{% endblock %}
