{% extends 'base.html' %}

{% load static %}

{% block title %}Plotter{% endblock %}

{% block content %}

<div class="plotterpage">
    <div class="flex justify-between mt-4">

        <!-- Forms Section on the Left -->
        <div class="w-1/3">
            {% include 'plotter_sections/points.html' %}
            {% include 'plotter_sections/lines.html' %}
        </div>

        <div class="w-2/3 m-7">
            <!-- Plotting Section -->
                <div class="plot-container p-6 rounded-lg shadow-md w-full h-full">
                    <!--<h2 class="text-xl font-semibold mb-2 text-white">Plot</h2>-->
                    {% if plot_url %}
                        <img class="max-w-full h-auto" src="data:image/png;base64,{{ plot_url }}" alt="Point Plot">
                    {% else %}
                        <p class="text-white-500">No plot available. Add elements and click "Plot" to generate one.</p>
                    {% endif %}
                </div>
        </div> 
        </dif>
    </div>
</div>
<style>
    .plot-container
    {
        background-color:transparent;
    }
</style>
{% endblock %}
