<div class="container mx-auto p-6">
    <div class="flex justify-between">
        <!-- Form Section -->
        <div class="form-container w-1/2 bg-white p-6 rounded-lg shadow-md">
            <h2 class="text-xl font-semibold mb-2">Add a Point</h2>
            <form method="post" class="mb-4">
                {% csrf_token %}
                {{ point_form.as_p }}
                <div class="flex space-x-4">
                    <button type="submit" name="add_point" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add Point</button>
                    
                    <button 
                    type="submit" 
                    name="connect_points" 
                    class="py-2 px-4 rounded hover:bg-blue-600 
                           {% if is_checked %}bg-blue-500 text-white{% else %}bg-white text-blue-500 border border-blue-500{% endif %}">
                    Connect Points
                    </button>
                </div>
            </form>
            <h3 class="text-lg font-semibold mb-2">Points Added:</h3>
            <ul class="list-disc pl-5">
                {% for p in points %}
                    <li class="flex items-center space-x-2">
                        <span>({{ p.x }}, {{ p.y }})</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>