<div class="container p-6 w-full">
    <div class="flex justify-between w-full">
        <!-- Form Section -->
        <div class="form-container p-6 rounded-lg shadow-md w-full line_menu">
            <h2 class="text-xl font-semibold mb-2 text-white">Add a Line</h2>
            <form method="post" class="mb-4">
                {% csrf_token %}
                {{ line_form.as_p }}
                <br>
                <div class="flex flex-col space-y-4">
                    <button type="submit" name="add_line" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">Add Line</button>

                    <button 
                    type="submit" 
                    name="show_middles" 
                    class="py-2 px-4 rounded hover:bg-blue-600 
                           {% if show_middles %}bg-blue-500 text-white{% else %}bg-white text-blue-500 border border-blue-500{% endif %}">
                    Show middle points
                    </button>

                    <button 
                    type="submit" 
                    name="show_intersection" 
                    class="py-2 px-4 rounded hover:bg-blue-600 
                           {% if show_intersection %}bg-blue-500 text-white{% else %}bg-white text-blue-500 border border-blue-500{% endif %}">
                    Show intersection points
                    </button>

                </div>
                <br>
                <div class="flex flex-col space-y-4">
                    <button 
                    type="submit" 
                    name="show_length" 
                    class="py-2 px-4 rounded hover:bg-blue-600 
                           {% if show_length %}bg-blue-500 text-white{% else %}bg-white text-blue-500 border border-blue-500{% endif %}">
                    Show length
                    </button>

                    <button 
                    type="submit" 
                    name="show_slope" 
                    class="py-2 px-4 rounded hover:bg-blue-600 
                           {% if show_slope %}bg-blue-500 text-white{% else %}bg-white text-blue-500 border border-blue-500{% endif %}">
                    Show slope
                    </button>

                </div>
                <br>            
            </form>
            <h3 class="text-lg font-semibold mb-2 text-white">Lines Added:</h3>
            <ul class="list-disc pl-5">
                {% for l in lines %}
                    <li class="flex items-center space-x-2 text-white m-2">
                        <span>({{ l.p1.x }}, {{ l.p1.y }}), ({{ l.p2.x }}, {{ l.p2.y }})</span>


                        <!-- Info button -->
                        <form method="POST" action="{% url 'line_info' forloop.counter0 %}">
                            {% csrf_token %}
                            <button class="bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-700 flex items-center space-x-1 info-btn" 
                                    name="show_info"
                                    type="submit">
                                I
                            </button>
                        </form>

                        <!--Delete button-->
                        <form method="POST" action="{% url 'delete_line' forloop.counter0 %}">
                            {% csrf_token %}
                                <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded hover:bg-red-700">
                                    X
                                </button>
                        </form>

                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<style>
    .line_menu
    {
        background-color: transparent;
    }
</style>